/* colors start */
$withOutColor: transparent;
$whiteColor: #fff;
$black: #000;
$blue: #0064EB;
$lightGrey: #f9f9f9;
$grey: #808080;
/* colors end */

/* values start */
$wrapper-max-width: 1254px;
$transitionTime: 0.3s;
$borderRadius: 6px;
$logoHeight: 40px;

$inputSearchTextSize: 14px;
/* values end */
